stages:
  - publish

# versions of dependencies
variables:
  MDBOOK_MERMAID_VERSION: 0.13.0
  MDBOOK_ADMONISH_VERSION: 1.14.0
  MDBOOK_VERSION: 0.4.36

pages:
  image: alpine
  stage: publish
  before_script:
    - apk add cargo curl
    - curl -sSL "https://github.com/rust-lang/mdBook/releases/download/v$MDBOOK_VERSION/mdbook-v$MDBOOK_VERSION-x86_64-unknown-linux-musl.tar.gz" | tar -C /usr/local/bin -zxv
    - curl -sSL "https://github.com/badboy/mdbook-mermaid/releases/download/v$MDBOOK_MERMAID_VERSION/mdbook-mermaid-v$MDBOOK_MERMAID_VERSION-x86_64-unknown-linux-musl.tar.gz" | tar -C /usr/local/bin -zxv
    - curl -sSL "https://github.com/tommilligan/mdbook-admonish/releases/download/v$MDBOOK_ADMONISH_VERSION/mdbook-admonish-v$MDBOOK_ADMONISH_VERSION-x86_64-unknown-linux-musl.tar.gz" | tar -C /usr/local/bin -zxv
    - cargo install --git https://github.com/xfbs/mdbook-files
    - ln -s /root/.cargo/bin/mdbook-files /usr/bin/mdbook-files
  script:
    - mdbook build
    - mv book public
  artifacts:
    paths:
      - public/
