stages:
  - publish

pages:
  image: alpine
  stage: publish
  before_script:
    - apk add mdbook cargo
    - cargo install --git https://github.com/xfbs/mdbook-files
    - ln -s /root/.cargo/bin /usr/bin/mdbook-files
  script:
    - mdbook build
    - mv book public
  artifacts:
    paths:
      - public/
