stages:
  - publish

# make sure to fetch submodules
variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_DEPTH: 1

# release book on gitlab pages
pages:
  image: nixos/nix:latest
  stage: publish
  before_script:
    - echo 'experimental-features = nix-command flakes' >> /etc/nix/nix.conf
  script:
    - nix build .?submodules=1#gitlab-pages -L
    - cp -r $(readlink result) public
  artifacts:
    paths:
      - public/
    expire_in: 1 week
  only:
    - main
