[submodule "examples/todo-yew"]
	path = examples/todo-yew
	url = ../todo-yew
    branch = master
[submodule "examples/todo-leptos"]
	path = examples/todo-leptos
	url = ../todo-leptos
    branch = master
[submodule "examples/levenshtein"]
	path = examples/levenshtein
	url = ../levenshtein
    branch = master
