[book]
authors = ["Patrick Elsen"]
language = "en"
multilingual = false
src = "src"
title = "Rust Project Primer"

[preprocessor.files]
command = "mdbook-files"
prefix = "examples"

[preprocessor.mermaid]

[output.html]
additional-css = ["mdbook-files.css"]
additional-js = ["mermaid.min.js", "mermaid-init.js"]
